<h2><%= @nba_events_scheduled.count %> Upcoming NBA events </h2>
<ul>
	<% @nba_events_scheduled.sort_by {|e| e.start_date_time}.reverse.each do |event| %>
		<li>
		  <%= DateTime.parse(event.start_date_time).strftime("%A, %d %b %Y %l:%M %p") %>
		  <%= Team.find(event.away_team_id).full_name %>
		  <%= Team.find(event.home_team_id).full_name %>
		  <%#= event.event_status %>
		  <%#= event.event_id %>
  	</li>
	<% end %>
</ul>

<h2><%= @past_nba_events.count %> Completed NBA Games: <%#= (Date.today).strftime("%A, %B %e, %Y")%></h2>
<ul>
	<% @past_nba_events.sort_by {|e| e.start_date_time}.reverse.each do |event| %>
		<li>
		  <%= link_to DateTime.parse(event.start_date_time).strftime("%A, %d %b %Y %l:%M %p"), event %>
		  <%= Team.find(event.home_team_id).full_name %>
		  <%= event.home_points_scored %>
		  <%= Team.find(event.away_team_id).full_name %>
		  <%= event.away_points_scored %>
		  <%#= event.event_status %>
		  <%#= event.event_id %>
  	</li>
	<% end %>
</ul>